*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Red Hat Dispplay", sans-serif;
}
body{
    background-color: hsl(225, 100%, 98%);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;

}
main{
    background-color: #ffff;
    max-width: 416px;
    border-radius: 1rem;
}
.img1{
    width: 100%;
    margin-bottom: 25px;
    border-radius: 1rem 1rem 0  0;
}
main section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    width: 100%;
    height: 100%;

}
.titulo{
    margin-bottom: 20px;
    color: hsl(223, 47%, 23%);
}
.paragrafo{
   color: hsl(224, 23%, 55%);
   text-align: center;
   margin-bottom: 1rem;
   
}
.prince{
    width: 100%;
    display: flex;
    justify-content: space-between;   
    background-color: hsl(225, 100%, 98%);
    align-items: center;
    border-radius: 1rem;
    margin-bottom: 2rem;
}
.icon{
    display: flex;
    padding: 1.5rem;
}
.preco{
    margin-left: 1rem;
}
.valor{
    color: hsl(224, 23%, 55%);
}
.mudar{
    margin-right: 1rem;
    color: hsl(245, 75%, 52%);
    text-decoration: none;
}
.annual{
    color: hsl(223, 47%, 23%);
}
button{
    width: 100%;
    padding: 0.8rem;
    border-radius: 1rem;
    background-color: hsl(245, 75%, 52%);
    color: white;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0px 20px 20px rgba(56, 42, 225, 0.190);
    margin-bottom: 2rem;
    cursor: pointer;
}
.cancelar{
    margin-bottom: 2rem;
    color: hsl(245, 75%, 52%);
    text-decoration: none;
}
